<footer class="site-footer">

  <div class="container">
    <div class="footer-content">
      <div class="footer-column column-left">
        <a href={{ "/" | prepend: site.url }}>
          <img class="logo" src={{ "/assets/img/full_logo.svg" | prepend: site.url }} alt="Alan Mead. Coach, Trainer" />
        </a>
      </div>
      <div class="footer-column column-middle">
        <li><a href="#about" class="smooth-scroll">About</a></li>
        <li><a href="#service" class="smooth-scroll">Service</a></li>
        <li><a href="#repairs" class="smooth-scroll">Repairs</a></li>
        <li><a href="#gallery" class="smooth-scroll">Gallery</a></li>
        <li><a href="#testimonials" class="smooth-scroll">Testimonials</a></li>
        <li><a class="btn" href="#contact" class="smooth-scroll">Contact Us</a></li>
      </div>
      <div class="footer-column column-right footer-footer">
        <a class="icon_bg" href="https://www.instagram.com/audiofixbristol/" target="_blank"><img class="social_icons" src="./assets/img/ig_icon.png"></a>
        <a class="icon_bg" href="https://www.facebook.com/pg/AudiofixBristol/" target="_blank"><img class="social_icons" src="./assets/img/fb_icon.png"></a>
        <p>Header photo by <a href="https://www.facebook.com/DirtySouthPhotography/" target="_blank">Dirty South Photography</a>.</p>
        <p>Jamie photo by <a href="https://www.facebook.com/Bubimages/" target="_blank">Bubimages</a>.</p>

        <p>Made with &hearts; in the Channel Islands.</p>
        <p>&copy; Audiofix 2019</p>
      </div>
    </div>
  </div>

</footer>
