// Reset spacing
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: $base-font-family;
}
img {
  max-width: 100%;
}
section {
  padding: 45px 15px;
  @media (min-width: 980px){
    padding-left: 0;
    padding-right: 0;
  }
}
p, blockquote {
  max-width: 658px;
  color: $copy-colour;
}
h1, h2, h3, h4 {
  font-family: 'Copse', $base-font-family;
  color: #000;
  margin: 0;
}
h2 {
  font-size: 45px;
}
p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 24px;
  margin-bottom: 24px;
}
a {
  text-decoration: none;
  color: $brand-color;
}
ul {
  margin-left: 30px;
  margin-bottom: 30px;
  li {
    margin-bottom: 15px;
  }
}
